body {
    padding-top: 50px;
}

#currentDate {
    margin-top: -14px;
}

#mainTimeBar {
    margin-bottom: 2px;
}

p.above-bar-text {
    margin-bottom: 4px;
}

p.below-bar-text {
    margin-top: -16px;
}

p.above-bar-text, p.below-bar-text {
    padding-left: 4px;
    padding-right: 4px;
}

.category-item {
    margin-bottom: 20px;
}

.category-transactions {
    margin-top: 10px;
}