body {
    padding-top: 50px;
}

#currentDate {
    margin-top: -14px;
}

#mainTimeBar {
    margin-bottom: 2px;
}

p.above-bar-text {
    margin-bottom: 4px;
}

p.below-bar-text {
    margin-top: -16px;
}

p.above-bar-text, p.below-bar-text {
    padding-left: 4px;
    padding-right: 4px;
}

.category-item {
    margin-bottom: 20px;
}

.category-transactions {
    margin-top: 10px;
}

.category-add-icon {
    opacity: .8;
}

.category-add-icon:hover {
    opacity: 1;
    cursor:pointer;
}

#categories {
    margin-top: 20px;
}

#uiBars{
    margin-bottom: 40px;
}

.category-time-bar {
    opacity: .25;
    margin-top: -40px;
}