<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="bling">
<head>
  <title>Bling Foo</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!-- Thir party js libraries -->
  <script type="text/javascript" src="../static/lib/jquery/dist/jquery.min.js"
          th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
  <script type="text/javascript" src="../static/lib/angular/angular.min.js"
          th:src="@{/lib/angular/angular.min.js}"></script>
  <script type="text/javascript" src="../static/lib/bootstrap/dist/js/bootstrap.min.js"
          th:src="@{/lib/bootstrap/dist/js/bootstrap.min.js}"></script>

  <!-- Odie AngularJS Files -->
  <script type="text/javascript" src="../static/ng-bling/ng-bling.js" th:src="@{/ng-bling/ng-bling.js}"></script>

  <!-- Some Style -->
  <link rel="stylesheet" href="../static/lib/bootstrap/dist/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="../static/style/bling.css" th:href="@{/style/bling.css}"/>
</head>
<body ng-controller="BlingGlobalCtrl" ng-cloak="true">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center">
      <img ng-if="!snapshotData" src="/static/img/loading.gif" th:src="@{/img/loading.gif}"/>

      <h2>{{snapshotData.startDay | date : 'MMM d'}} - {{snapshotData.endDay | date : 'MMM d'}}</h2>

      <h2 id="currentDate">
        <small>{{snapshotData.now | date : 'longDate'}}</small>
      </h2>
      <h4><span class="label"
                ng-class="{'label-success': getNetAmount(), 'label-danger': !getNetAmount()}">{{getNetAmount(category) | currency}}</span>
      </h4>
    </div>
    <category info="currentCategory" ng-repeat="currentCategory in snapshotData.categories"></category>
  </div>
</div>
</body>
</html>