<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head></head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bling</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/pending">Pending Transactions</a></li>
      </ul>
      <button type="button" class="btn btn-primary navbar-btn navbar-right" ng-click="newTransactionModal()">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      </button>
    </div><!--/.nav-collapse -->
  </div>
</nav>
</body>
</html>