<div class="category-item col-md-6">
  <button type="button" class="btn btn-primary floating pull-right" ng-click="newTransactionModal(category)">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  </button>
  <h2>{{category.name}}
    <small>{{category.budget - sumTransactionAmounts(category.transactions) | currency}}</small>
  </h2>
  <uib-progressbar id="categoryTimeBar" value="getCategoryTimeBarPercentage(category)" type="{{getTypeForCategoryMoneyBar(category.budget - sumTransactionAmounts(category.transactions))}}">
    <strong>{{getCategoryTimeBarPercentage(category)}}%</strong>
  </uib-progressbar>
  <div class="row">
    <div class="col-xs-6">
      <p class="below-bar-text"><strong>{{category.budget - sumTransactionAmounts(category.transactions) | currency}}</strong> remaining</p>
    </div>
    <div class="col-xs-6 text-right">
      <p class="below-bar-text"><strong>{{sumTransactionAmounts(category.transactions) | currency}}</strong> of <strong>{{category.budget | currency}}</strong></p>
    </div>
  </div>
  <div ng-if="!category.transactions">
    <p class="text-center">No {{category.name}} transactions</p>
  </div>
  <table class="category-transactions table">
    <tr ng-repeat="transaction in category.transactions | orderBy : 'transactionDate'">
      <td>{{transaction.name}}</td>
      <td>{{transaction.amount | currency}}</td>
      <td>{{transaction.transactionDate | date}}</td>
    </tr>
  </table>
</div>